Question 1 - What is a database? Differentiate between SQL and NoSQL databases.

Answer- A database is a collection of organized data that is stored and managed in a computer system. Databases are used to store and retrieve large amounts of information quickly and efficiently.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases that are commonly used in modern software development.

SQL databases are based on the relational model, and they store data in tables with rows and columns. SQL databases use SQL as their primary language for managing and querying data. They are typically used for applications that require complex queries and transactions, such as financial systems or enterprise software.

NoSQL databases, on the other hand, use non-relational data models, and they store data in documents, key-value pairs, or graphs. NoSQL databases are designed to be highly scalable and flexible, making them ideal for applications that require high performance and the ability to handle large volumes of unstructured data. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

In summary, the main differences between SQL and NoSQL databases are:

Data Model: SQL databases use a relational data model, while NoSQL databases use non-relational data models.
Query Language: SQL databases use SQL as their primary language for managing and querying data, while NoSQL databases use different query languages, such as JSON or JavaScript.
Scalability: NoSQL databases are designed to be highly scalable and can handle large volumes of unstructured data, while SQL databases are typically less scalable and may require additional hardware to handle large volumes of data.

Question 2- What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer - DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define and manipulate the structure of a database schema.

DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views. The four primary DDL commands are CREATE, DROP, ALTER, and TRUNCATE.

- CREATE: CREATE command is used to create a new database object such as a table or index. For example, to create a new table named "employees" with columns "id," "name," "age," and "salary," the CREATE command would be used as follows:

CREATE TABLE employees (
  id INT NOT NULL,
  name VARCHAR(50) NOT NULL,
  age INT NOT NULL,
  salary DECIMAL(10,2) NOT NULL,
  PRIMARY KEY (id)
);

- DROP: DROP command is used to delete a database object such as a table or index. For example, to drop the "employees" table, the DROP command would be used as follows:

DROP TABLE employees;

- ALTER: ALTER command is used to modify the structure of an existing database object such as a table or index. For example, to add a new column named "address" to the "employees" table, the ALTER command would be used as follows:

ALTER TABLE employees ADD COLUMN address VARCHAR(100);

- TRUNCATE: TRUNCATE command is used to delete all the data from a table while keeping the table structure intact. For example, to delete all the data from the "employees" table, the TRUNCATE command would be used as follows:

TRUNCATE TABLE employees;

In summary, DDL commands are used to create, modify, and delete the structure of a database schema and its objects. The CREATE command is used to create new database objects, the DROP command is used to delete database objects, the ALTER command is used to modify the structure of database objects, and the TRUNCATE command is used to delete all the data from a table while keeping the table structure intact.

Question 3- What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer- DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) that is used to manipulate data within a database.

DML commands are used to insert, update, and delete data in a table. The three primary DML commands are INSERT, UPDATE, and DELETE.

- INSERT: INSERT command is used to insert new rows of data into a table. For example, to insert a new record into the "employees" table, the INSERT command would be used as follows:

INSERT INTO employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 50000);

- UPDATE: UPDATE command is used to modify existing rows of data in a table. For example, to update the salary of an employee with ID 1 in the "employees" table, the UPDATE command would be used as follows:

UPDATE employees
SET salary = 55000
WHERE id = 1;

- DELETE: DELETE command is used to delete rows of data from a table. For example, to delete an employee with ID 1 from the "employees" table, the DELETE command would be used as follows:

DELETE FROM employees
WHERE id = 1;

In summary, DML commands are used to manipulate data within a database. The INSERT command is used to insert new rows of data into a table, the UPDATE command is used to modify existing rows of data in a table, and the DELETE command is used to delete rows of data from a table.

Question 4- What is DQL? Explain SELECT with an example.

Answer- DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) that is used to retrieve data from a database.

DQL commands are used to query the database and retrieve data based on specific criteria. The primary DQL command is SELECT.

- SELECT: SELECT command is used to retrieve data from one or more tables in a database. Below are few example of SELECT command

# To retrieve all the records from the "employees" table

SELECT * FROM employees;

# To retrieve specific columns,

SELECT id, name, age FROM employees;


# to retrieve only the employees who are older than 30 years old and sort them by salary in descending order

SELECT id, name, age, salary FROM employees
WHERE age > 30
ORDER BY salary DESC;

In summary, DQL commands are used to retrieve data from a database. The SELECT command is used to retrieve data from one or more tables in a database, and can be used with various clauses such as WHERE, ORDER BY, GROUP BY, and JOIN to filter, sort, group, and join data.

Question 5- Explain Primary Key and Foreign Key.

Answer - Primary Key and Foreign Key are two important concepts in database design, and they are used to establish relationships between tables in a relational database.

Primary Key: A primary key is a unique identifier for a record in a table. It is a column or a set of columns that uniquely identify each row in a table. The primary key ensures that there are no duplicate records in the table and provides a means of quickly and efficiently identifying and accessing individual records. For example, in a "students" table, the "student_id" column can be used as the primary key.

Foreign Key: A foreign key is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. The foreign key ensures that the data in the related tables remains consistent, and that any changes made to the primary key are reflected in the related tables. For example, in a "student_courses" table, the "student_id" column can be used as a foreign key to reference the "student_id" column in the "students" table.

Here's an example to illustrate the concept of primary key and foreign key:

Let's say we have two tables: "students" and "enrollments". The "students" table has columns for student_id (primary key), first_name, and last_name. The "enrollments" table has columns for enrollment_id (primary key), student_id (foreign key), course_name, and course_code.

In this example, the "student_id" column in the "students" table is the primary key, and the "student_id" column in the "enrollments" table is the foreign key. The foreign key ensures that each record in the "enrollments" table corresponds to a valid record in the "students" table. If a record is deleted from the "students" table, the foreign key constraint ensures that all related records in the "enrollments" table are also deleted to maintain referential integrity.

Question 6- Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# establish a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername", #It will be User name set by us
  password="yourpassword", # It will be password set by us
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM mytable")

# fetch the results
results = mycursor.fetchall()

# iterate through the results
for row in results:
    print(row)

Here's an explanation of the cursor() and execute() methods:

- cursor(): The cursor() method creates a new cursor object that can be used to execute SQL statements and retrieve results. The cursor object maintains a reference to the current position in the result set, and provides methods for navigating through the rows and columns.

- execute(): The execute() method is used to execute a SQL statement on the database. It takes a single argument, which is the SQL statement to execute. The execute() method returns None if the statement doesn't return any results, or a cursor object if the statement returns a result set.

In summary, the cursor() method creates a cursor object that can be used to execute SQL statements and retrieve results, while the execute() method is used to execute SQL statements on the database.

Question 7- Give the order of execution of SQL clauses in an SQL query.

Answer- In an SQL query, the clauses are executed in the following order:

- FROM: The FROM clause specifies the table or tables from which to retrieve data. It is executed first to identify the data source.

- JOIN: If the query includes a JOIN clause, it is executed next to combine data from multiple tables.

- WHERE: The WHERE clause is used to filter the results based on a specified condition. It is executed after the FROM and JOIN clauses.

- GROUP BY: The GROUP BY clause is used to group the results by one or more columns. It is executed after the WHERE clause.

- HAVING: The HAVING clause is used to filter the results of a GROUP BY clause based on a specified condition. It is executed after the GROUP BY clause.

- SELECT: The SELECT clause is used to specify the columns to retrieve from the data source. It is executed after all the preceding clauses.

- DISTINCT: If the query includes the DISTINCT keyword, it is executed next to remove any duplicate rows from the results.

- ORDER BY: The ORDER BY clause is used to sort the results based on one or more columns. It is executed after all the preceding clauses.

- LIMIT: The LIMIT clause is used to limit the number of rows returned by the query. It is executed last after all the preceding clauses.

Note that not all SQL queries include all of these clauses, and some queries may include additional clauses that are not listed here. However, the order of execution remains the same regardless of the specific clauses used in the query.